// Estilos para las filas de inspección en la página de inicio
.inspection-row {
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
  }

  // Asegurar que las celdas tengan un fondo blanco para el efecto de elevación

}

// Asegurar que los botones dentro de la fila no afecten el cursor
.btn {
  cursor: pointer;
}

// Estilos para el badge de estado
.badge {
  padding: 0.5em 0.8em;
  font-size: 0.85em;
  font-weight: 500;
  border-radius: 0.25rem;
  
  &.bg-soft-primary {
    background-color: rgba(13, 110, 253, 0.1);
    color: #0f0369;
  }
}
// En detail.scss
:host ::ng-deep {
  .table-responsive {
    min-height: 250px !important;
  }
  
  .inspection-row {
    height: 65px !important;
  }
  
  .dropdown-menu {
    z-index: 9999 !important;
  }
}
td a {
  color: #25D366; // Color WhatsApp
  font-weight: 500;
  transition: all 0.2s;
  
  &:hover {
    color: #128C7E;
    text-decoration: underline !important;
  }
}
.text-blue{
  color: #1300af !important;
  font-weight: 900;
}
.bg-blue{    color: #fff   !important;
background-color: #0f0369 !important;
  
  [data-bs-theme="dark"] & {
    color: white !important;
    background-color: #0f0369 !important;
  }
}
  